@using System.Security.Claims
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Identity

@inject  UserManager<User> userManager;
@inject IHttpContextAccessor _context;
@model biblioteka13263.Models.BookView

@{
    ViewData["Title"] = "Details";
    var user =await userManager.GetUserAsync(_context.HttpContext.User);
    var administrator = false;
    if (user != null)
        administrator = user.Administrator;
}

<h1>Details</h1>

<div>
    <h4>BookView</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ISBN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAvilible)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAvilible)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WhenAvilable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WhenAvilable)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClientEmail)
        </dt>
        <dd class="col-sm-10">
            @if (Model.ClientEmail != "")
            {
                <span style="color: red">
                @Html.DisplayFor(model => model.ClientEmail)
          
                </span>
            }
            else{ <span>  -</span>}
        </dd>
    </dl>
</div>
<div>
    @if (administrator){
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> <span >|</span>
    <a asp-action="Delete" asp-route-id="@Model?.Id">Delete</a> <span >|</span>
    }
    @if (Model.IsAvilible&&user!=null)
    {
        <a asp-action="Borrow" asp-route-id="@Model?.Id">Borrow</a>
    }
    |<a asp-action="Index">Back to List</a>

</div>
